<launch>
<node pkg="screw_detection_ros" type="screw_detection_node" name="screw_detector" output="screen">
    <param name="model_data_path" 	value="/catkin_ws/src/sharework_screw_detection_ros/modules/sharework_screw_detection/examples/countersunken_screws" />
    <param name="use_dynamic_reconfigure" 	value="true" />
    <rosparam command="load" file="$(find screw_detection_ros)/config/files_common.yaml" />
    <rosparam command="load" file="$(find screw_detection_ros)/config/detection_common.yaml" />
</node>
<node name="rviz" pkg="rviz" type="rviz" respawn="false" args="-d $(find screw_detection_ros)/rviz/rviz_detector_config.rviz"/>
<node pkg="rqt_reconfigure" type="rqt_reconfigure" name="my_rqt_reconfigure"/>
</launch>
